{% load static %}
<!DOCTYPE html>
<html lang="en">
    <!-- about and customer which is registrationare same style -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grip_Bank</title>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> -->
    <link href="{% static 'assets/img/spark.png' %}" rel="icon">
    <link href="{% static 'customer/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'customer/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'customer/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'customer/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'customer/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'customer/vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'customer/vendor/aos/aos.css' %}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="{% static 'customer/css/style.css' %}" rel="stylesheet">
  

</head>
<body>
    
<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
            <img src="{% static 'customer/img/about.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>About Us</h3>
            <p class="font-italic">
              <h3>GRIP TSF-BANK</h3>
              GRIP TSF-BANK was found on 20th July 2001.
            </p>
            <ul>
              <li><i class="icofont-check-circled"></i> The Bank was under private control till Jan 2004 and then it was Nationalize.</li>
              <li><i class="icofont-check-circled"></i> Our Bank has more than 5000 Branches in India and over 1500+ Branches in South India.</li>
              <li><i class="icofont-check-circled"></i>Our Bank provides high level securance to our customes and these branches are maintained through 59 Zonal Offices and 10 NBG Offices.</li>
            </ul>
            <a href="#" class="read-more">Read More <i class="icofont-long-arrow-right"></i></a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
 <!-- Vendor JS Files -->
 <script src="{% static 'customer/vendor/jquery/jquery.min.js' %}"></script>
 <script src="{% static 'customer/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
 <script src="{% static 'customer/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
 <script src="{% static 'customer/vendor/php-email-form/validate.js' %}"></script>
 <script src="{% static 'customer/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
 <script src="{% static 'customer/vendor/counterup/counterup.min.js' %}"></script>
 <script src="{% static 'customer/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
 <script src="{% static 'customer/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
 <script src="{% static 'customer/vendor/venobox/venobox.min.js' %}"></script>
 <script src="{% static 'customer/vendor/aos/aos.js' %}"></script>

 <!-- Template Main JS File -->
 <script src="{% static 'customer/js/main.js' %}"></script>

   

    
   
   


   
  </main><!-- End #main -->
    
</body>
</html>
